<div id="<%= "my-recipe-#{recipe.id}" %>" class="my-recipe-ctn d-flex">
  <div class="my-recipe-leftcol-ctn d-flex col">
    <%= link_to "#{recipe.name}", recipe_path(recipe), method: :get %>
    <% if can? :manage, recipe %>
        <%= button_to "Delete recipe", recipe_path(recipe), method: :delete %>
    <% end %>
  </div>
  <div class="my-recipe-rightcol-ctn d-flex col">
    <div class="d-flex">
      <p><%= recipe.description.truncate(80) %></p>
    </div>
  </div>
</div>
