  <div id=<%= "recipe-#{recipe.id}" %> class="recipe-ctn d-flex">
    <div class="recipe-title">
      <h2><%= recipe.name %></h2>
    </div>
    <div class="recipe-line-ctn d-flex">
      <div>
        <strong>Preparation time: </strong>
        <p><% "#{recipe.preparation_time} min" %></p>
      </div>
      <div>
        <strong>Public: </strong>
        <% if recipe.public? %>
          <p>Icon true</p>
        <% else %>
          <p>Icon false</p>
        <% end %>
      </div>
    </div>
    <div>
      <strong>Cooking time: </strong>
      <p><% "#{recipe.cooking_time} min" %></p>
    </div>
    <div>
      <strong>Description: </strong><br>
      <p><%= recipe.description %></p>
    </div>
  </div>
<!-- 
    <%= button_to "Delete Recipe", recipe, method: :delete %>
    -->
