<p style="color: green"><%= notice %></p>

<h1>Public Recipes</h1>
<%= link_to "New recipe", new_recipe_path %>
<div id="recipes-ctn d-flex col">
  <% @recipes.each do |recipe| %>
    <%= render 'recipes/recipe-list', recipe: recipe %>
  <% end %>
</div>
