<p style="color: green"><%= notice %></p>
<section id="public-recipes">
<h1>Public Recipes</h1>
<% if user_signed_in? %>
  <%= button_to "Create Recipe", new_recipe_path, method: :get %>
<% end %>
<div class="index-recipes-ctn d-flex col">
  <% @recipes.each do |recipe| %>
    <%= render 'recipes/recipe-list', recipe: recipe %>
  <% end %>
</div>
</section>
