<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <%= button_to "Back to foods", foods_path, method: :get %>

  <% if can? :manage, @food%>
    <%= button_to "Destroy this food", @food, method: :delete %>
  <% end %>
</div>
